{% extends "layout.html" %}

{% block title %}Configuración{% endblock %}

{% block content %}
<h2>Configuración</h2>

<h3>Agregar Habitación</h3>
<form method="POST" action="{{ url_for('configuracion') }}">
    <input type="hidden" name="agregar">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    
    <label for="tipo">Tipo:</label>
    <input type="text" id="tipo" name="tipo" required>
    
    <label for="estado">Estado:</label>
    <input type="text" id="estado" name="estado" required>
    
    <label for="imagen">Imagen:</label>
    <input type="text" id="imagen" name="imagen" required>

    <label for="tiempo_reservacion">Tiempo de Reservación:</label>
    <input type="text" id="tiempo_reservacion" name="tiempo_reservacion" required>
    
    <button type="submit">Agregar</button>
</form>

<h3>Eliminar Habitación</h3>
<ul>
    {% for habitacion in habitaciones %}
    <li>
        <p>Nombre: {{ habitacion[1] }}</p>
        <p>Tipo: {{ habitacion[2] }}</p>
        <p>Estado: {{ habitacion[3] }}</p>
        <form method="POST" action="{{ url_for('configuracion') }}" style="display:inline;">
            <input type="hidden" name="eliminar">
            <input type="hidden" name="id" value="{{ habitacion[0] }}">
            <button type="submit">Eliminar</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
